/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.field_with_errors {
    display: inline;
}

.field_with_errors input {
    border: 1px solid red;
}

.container-main {
    min-height:100%;
}

.main-footer {
    /*background: #333;*/
    color: #777;
    clear: both;
    padding: 10px;
    overflow: hidden;
    margin-top:40px;
    background-image: linear-gradient(bottom, rgb(255,255,255) 15%, rgb(199,199,199) 100%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(199,199,199) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(199,199,199) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(199,199,199) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 15%, rgb(199,199,199) 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.15, rgb(255,255,255)),
        color-stop(1, rgb(199,199,199))
    );
}

